<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>register</p>
<form action="/create" method="POST">
  yourname:<input type="text" name="name" value="" /><br />
  <input type="submit" />
</form>
